<!DOCTYPE html>
<lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
        <link rel="stylesheet" href="/css/home.css">
        <script src="https://kit.fontawesome.com/6f9467b055.js" crossorigin="anonymous"></script>
    </head>

    <body>

    </body>

 <section>

        <img src="/img/logo-mercado-liebre.svg" alt="Aquí va una foto" width="1100px" height="150px">

        
        <form action="">
            <input type="text" placeholder="Buscar" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </for<form action=""></i>
       
        <h5><i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</h5>
        

  </ul>


        <nav>
            <ul>
                <li id="negrita"><a href="ofertas">Ofertas</a></li>
                <li id="negrita"><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li id="negrita"><a href="Vender">Vender</a></li>
                <li id="negrita"><a href="/">Ayuda</a></li>
            </ul>
        </nav>

        <nav>
            <ul>

                <li id="negrita"><a href="crea tu cuenta">crea tu cuenta</a></i><i class="fa-solid fa-id-card"></i>
                <li id="negrita"><a href="ingresa">ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li id="negrita"><a href="mis compras">mis compras</a></i><i class="fas fa-shopping-cart"></i>
            </ul>

            <div id="centrado" class="burger-menu" >
                <i class="fas fa-bars"> </style ></i>
                <div class="container">
                    <div class="icon-container">
                      <i class="icon"></i>
                    </div>
                  </div>
            </div>
        </nav>
    </section>

    <img id="imagen1" src="/img/img-home-banner.jpeg" alt="Aquí va una foto" width="1800px" height="300px">
    <article>


<p><b>BASADO EN TU ULTIMA VISITA</p></b>

        
        <img src="/img/img-cafetera-moulinex.jpg" alt="Aquí va una foto" width="800px" height="600px">
            
        <ul>
            <li id="negrita">$6.770</li>
            <li id="tamaño16">40% OFF</li>
            <li id="tamaño16">Cafetera Moulinex</li>
           
        </ul>

        <img src="/img/img-macbook-pro-2019.jpg" alt="Aquí va una foto" width="800px" height="600px">

        <ul>
            <li id="negrita">$230.000</li>
            <li id="tamaño16">20% off</li>
            <li id="tamaño16">MacBook Pro 2019</li>
            
         </ul>

        <img src="/img/tv.jpg" alt="Aquí va una foto" width="800px" height="600px">

        <ul>
            <li id="negrita">$230.000</li>
            <li id="tamaño16">20% off</li>
            <li id="tamaño16">MacBook Pro 2019</li>
           
        </ul>


        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Aquí va una foto" width="800px" height="600px">
        <ul>
            <li id="negrita">$23.200</li>
            <li id="tamaño16">5% off</li>
            <li id="tamaño16">Samsung Galaxy S10</li>
            
        </ul>
     
        
        
        &nbsp;

       
           <div><i class="fa-solid fa-credit-card" style="color:  #2181e8;"></i></div>
            <p><b>PAGA CON TARJETA O EN EFECTIVO</b><BR>Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o
                efectivo en
                puntos de <br>pago. ¡Y siempre es seguro!</BR></p>
           
            &nbsp; &nbsp; &nbsp;
            &nbsp;
           <div> <i class="fa-solid fa-gift" style="color:  #2181e8;"></i></div>
           <p><b> GRATIS DESDE 2500$ </b><br>solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
                productos. Es <br>un beneficio de Mercado Puntos.</BR></p>
            &nbsp;
            <div id="iconos"><i class="fa-solid fa-user-shield" height="62em" style="color:  #2181e8;"></i></div>
            <p><b>SEGURIDAD, DE PRINCIPIO A FIN</b><BR>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br>no hay nada que no puedas hacer,
                porque<br> estás siempre protegid@.</BR></p>
            &nbsp;
           <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
 <ul>

</article>


    
    